.pokerbet-image {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}

/* MOBILE FIX */
@media screen and (max-width: 768px) {
  .pokerbet-image {
    max-height: 100vh;
    width: auto;
    height: auto;
    padding: 0;
    margin: auto;
    display: block;
    object-fit: contain;
    object-position: center;
  }
}
